#main {
    width: 1260px;
    height: inherit;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 100px;
}

.title p {
    font-size: 16px;
    font-family: var(--fontN);
    color: #FF4409;
}

.title h2 {
    font-size: 80px;
    font-family: var(--fontG);
    font-weight: bold;
    color: #FF4409;
}

.link {
    margin-top: 50px;
}

.link ul {
    display: flex;
    justify-content: center;
}

.link li {
    border: 1px solid #FF4409;
    border-radius: 30px;
    padding: 0 40px;
    margin: 10px;
}

.link li.active {
    background-color: #FF4409;
}

.link li a {
    margin: 10px;
    display: inline-block;
    color: #FF4409;
    font-family: var(--fontN);
    font-weight: bold;
}

.link li.active a {
    background-color: #FF4409;
    color: #fff;
}

.posters {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 50px;
}

.posters p {
    padding: 0;
    margin: 10px 0 0;
    margin-top: 10px;
    font-size: 11px;
}

.posters .website-link p {
    display: block;
    font-family: var(--fontN);
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
    background-color: #FF4409;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

/* list01 */
.posters .list01 {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.posters .list01 li {
    width: 280px;
    height: 400px;
    margin: 0 10px 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
}

.posters .list01 li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.posters .list01 li span {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.posters .list01 li span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.posters .list01 li strong {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #FF4409;
}

/* list02 */
.posters .list02 {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 150px;
}

.posters .list02 li {
    width: 280px;
    height: 400px;
    margin: 0 10px 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
}

.posters .list02 li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.posters .list02 li span {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.posters .list02 li span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.posters .list02 li strong {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #FF4409;
}

/* list03 */
.posters .list03 {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 150px;
}

.posters .list03 li {
    width: 280px;
    height: 400px;
    margin: 0 10px 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
}

.posters .list03 li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.posters .list03 li span {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.posters .list03 li span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.posters .list03 li strong {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #FF4409;
}